.svg-arrow__btn-dims {
	width: 24px;
	height: 24px;
}

.svg-arrow__green-dims {
	width: 16px;
	height: 16px;
}

.svg-fb-dims {
	width: 40px;
	height: 40px;
}

.svg-fb-dark-dims {
	width: 40px;
	height: 40px;
}

.svg-in-dims {
	width: 40px;
	height: 40px;
}

.svg-in-dark-dims {
	width: 40px;
	height: 40px;
}

.svg-insta-dims {
	width: 40px;
	height: 40px;
}

.svg-insta-dark-dims {
	width: 40px;
	height: 40px;
}

.svg-load-dims {
	width: 18px;
	height: 18px;
}

.svg-slick_arrow-dims {
	width: 24px;
	height: 24px;
}

.svg-youtube-dims {
	width: 40px;
	height: 40px;
}

.svg-youtube-dark-dims {
	width: 40px;
	height: 40px;
}

